.popup {
    margin-top: 10svh;
        border: 0.125rem solid black;
        border-radius: 0.5rem;
        padding: 0;

    .popup-content {
        position: relative;
        background-color: white;
        z-index: 1001;
    }

    &::backdrop {
        background-color: #aaaaaa;
        opacity: 0.4;
    }

    .close-popup-button {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        content: "\00D7";
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        z-index: 1002;
    }

    p.instructions {
        display: none;
    }
}

body.block-editor-page .popup {
    display: block;
    position: relative;
    margin: 0 auto;
}
